<div class='card'>
    <h2 [ngStyle]="{
        color: card.title.length < 5 ? 'blue' : 'red',
        fontWeight: card.title.length < 7 ? 'normal' : 'bold'
    }">{{ index }} {{ card.title }}</h2>

    <!-- <p class="text" [ngClass]="{
        blue: textColor === 'blue',
        green: textColor === 'green',
        red: textColor === 'red'
    }">{{ text }}</p> -->

    <p class="text" 
        [class.blue]="textColor === 'blue'"
        [class.green]="textColor === 'green'"
        [class.red]="textColor === 'red'"
    >{{ card.text }}</p>

    <div class="buttons">
        <button (click)="textColor = 'blue'">Set blue</button>
        <button (click)="textColor = 'green'">Set green</button>
        <button (click)="textColor = 'red'">Set red</button>
    </div>

    <div class="buttons">
        <button (click)="changeTitle()">Change title</button>
        <button (click)="card.title = 'Inline title'">Change button inline</button>
    </div>

    <!-- TWO WAY BUNDING 1: 
    by using $-->
    <!-- <div>
        <input type="text" (input)="inputHandler($event)" [value]="title">
    </div> -->

    <!-- TWO WAY BUNDING 2: 
    by creating local link #myInput to current tag <input> -->
    <!-- <div>
        <input type="text" #myInput (input)="inputHandler2(myInput.value)" [value]="title">
    </div> -->

    <!-- TWO WAY BUNDING 3: 
    by using FormModule -->

    <div>
        <strong>{{ cardDate | date:'dd MMMM YYYY HH:mm:ss':null:'ua' }}</strong>
    </div>

    <div>
        <input type="text" [(ngModel)]="card.title">
    </div>

    



</div>