.card {
    padding: 1rem 1rem;
    border: 1px dashed #ccc;
    margin-bottom: 1rem;

    h2 {
        margin-bottom: 1rem;
    }

    img {
        width: 100px;
        height: 100px;
    }

    .buttons {
        margin-bottom: .5rem;
    }

    .text {
        font-size: 1.5rem;

        &.red {
            color: red;
        }

        &.blue {
            color: blue;
        }

        &.green {
            color: green;
        }
    }
}